<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
		<title>JavaWebExperiment----shoppingPlatform</title>
        <link href="./css/index.css" rel="stylesheet"/>
        <script src="./js/vue.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
        <!-- 引入样式 -->
        <link rel="stylesheet" href="./element-ui/index.css">
        <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
        <!-- 引入组件库 -->
        <script src="./element-ui/axios.min.js"></script>
        <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
        <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
        <script src="./element-ui/index.js"></script>
    </head>
    <body>
        <div id="main">
            <!-- 标题部分 -->
            <div>
                <div>
                    <!-- 图标 -->
                </div>
                <div class="headd">
                    <img src="./img/icon.png" class="icon">
                    <div class="title">
                        <h2>JSon商城</h2>
                        <p>让每个人享受JSon的乐趣</p>
                    </div>     
                </div>           
            </div>
            <!-- 登录部分 -->
            <div id="login">
                <div id="sublogin">
                    <div>
                        <el-button type="text" v-on:click="loginHandle" class="switch">登录</el-button>
                        <el-button type="text" v-on:click="registerHandle" class="switch">注册</el-button>
                    </div>
                    <!-- 登录模块 -->
                    <div id="login-part" v-if="this.switch">
                        <el-form ref="form" :model="loginForm" label-width="80px">
                            <el-form-item label="账号">
                                <el-input placeholder="请输入账号" v-model="loginForm.uId"></el-input>
                            </el-form-item>
                            <el-form-item label="密码">
                                <el-input placeholder="请输入密码" v-model="loginForm.uPwd" show-password></el-input>
                            </el-form-item>
                            <el-form-item>
                                    <el-button type="primary" v-on:click="SubmitLoginForm">登录</el-button>  
                            </el-form-item>   
                        </el-form>
                    </div>
                    <!-- 注册模块 -->
                    <div id="register-part"  v-else>
                        <el-form ref="reForm" :model="reForm" label-width="80px">
                            <el-form-item label="账号">
                                <el-input v-model="reForm.uId" placeholder="请输入账号"></el-input>
                            </el-form-item>
                            <el-form-item label="用户名">
                                <el-input v-model="reForm.uName" placeholder="请输入用户名"></el-input>
                            </el-form-item>
                            <el-form-item label="邮箱">
                                <el-input v-model="reForm.uPost" placeholder="请输入邮箱"></el-input>
                            </el-form-item>
                            <el-form-item label="密码">
                                <el-input placeholder="请输入密码" v-model="reForm.uPwd" show-password></el-input>
                            </el-form-item>
                            <el-form-item label="充值金额" >
                                <el-input v-model="reForm.uMoney" placeholder="请输入金额"></el-input>
                            </el-form-item>
                            <el-form-item>
                                    <el-button type="primary" v-on:click="SubmitRegisterForm">注册</el-button>  
                            </el-form-item>   
                        </el-form>
                    </div>
                </div>
                            
            </div>
        </div>     
        <script>
            var main = new Vue({
                el: "#main",
                data(){
                    return{
                        loginForm:{
                            uId:'',
                            uPwd:'',
                        },
                        reForm:{
                            uId:'',
                            uPwd:'',
                            uPost:'',
                            uName:'',
                            uMoney:0
                        }, 
                        baseUrl:'http://localhost:8080/JavaWebExp',
                        switch:true,// 登录true 注册false
                        info: null
                    }
                },
                methods:{
                    loginHandle:function(){
                        main.switch = true
                    },
                    registerHandle:function(){
                        main.switch = false
                    },
                    //登录
                    SubmitLoginForm:function(){
                        var ctx = this
                        var params = new URLSearchParams({
                            uId: ctx.loginForm.uId,       
                            uPwd: ctx.loginForm.uPwd    
                        })
                        axios.post('/JavaWebExp/login', params)
                            .then(function (resp) {
                                console.log(resp.data.uId)
                                //登录失败
                                if(resp.data.uId===""){
                                    ctx.loginForm.uId=""
                                    ctx.loginForm.uPwd=""        
                                    ctx.$message({
                                        message:'用户名或密码错误！请重新输入',
                                        type:'error'
                                    })       
                                }
                                else if(ctx.loginForm.uId==='admin'){
                                    window.location.href='/JavaWebExp/html/admin.html';
                                }
                                else{
                                    window.location.href='/JavaWebExp/html/main.html';
                                }                        
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        // console.log(this.info)
                    },
                    SubmitRegisterForm:function(){
                        var ctx = this
                        if(ctx.reForm.uId===''){
                            ctx.$message.error("账号不能为空！")
                            return
                        }  
                        if(ctx.reForm.uPost===''){
                            ctx.$message.error("邮箱不能为空！")
                            return
                        }
                        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/
                        if(!reg.test(ctx.reForm.uPost)){
                            ctx.$message.error("邮箱格式错误！")
                            ctx.reForm.uPost = ""
                            return
                        }
                        if(ctx.reForm.uPwd===''){
                            ctx.$message.error("密码不能为空！")
                            return
                        }
                        if(ctx.reForm.uMoney<0){
                            ctx.$message.error("金额不能为负！")
                            return
                        }
                        if(ctx.reForm.uName===''){
                            ctx.reForm.uName = ctx.reForm.uId
                        }   
                        var params = new URLSearchParams({
                            uId: ctx.reForm.uId,       
                            uPwd: ctx.reForm.uPwd,
                            uPost:ctx.reForm.uPost,
                            uName: ctx.reForm.uName,
                            uMoney:ctx.reForm.uMoney
                        })
                        axios.post('/JavaWebExp/register', params)
                            .then(function (resp) {
                                //注册失败
                                if(resp.data.success==0){        
                                    ctx.$message({
                                        message:'账号已存在！',
                                        type:'error'
                                    })  
                                    ctx.reForm.uId=''     
                                }
                                else if(resp.data.success==1){
                                    ctx.$message({
                                        message:'注册成功!',
                                        type:'success'
                                    });
                                    ctx.switch=true
                                    ctx.loginForm.uId = ctx.reForm.uId
                                } 
                                else{
                                    ctx.$message({
                                        message:'注册失败!请重新尝试',
                                        type:'error'
                                    });
                                }                       
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                }
      
            })               
        </script>
    </body>
</html>